<!DOCTYPE html>

<html>

<head>
    <title>Blogapp</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/app.css">
</head>

<body>
    <div class="ui inverted menu">
        <div class="ui container">
            <div class="header item">
                <i class="file text outline icon"></i>
                <a href="/blogs"> Blogpost</a>
            </div>
            <div class="item"><a href="/blogs/new">New Post</a></div>
            <div class="right menu">
                <div class="item">Login</div>
                <div class="item">SignUp</div>
            </div>
        </div>
    </div>